# Data Science Tools and Ecosystem

## Author
Russell Antcliff

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science tools

Some of the commonly used languages used by Data Scientists include:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. Pandas

|Data Science Tools|
| ---------------- |
| TensorFlow |
| Apache Spark |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335